@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body{
    background-color: #dddddd;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black ;

}

button{
    background-color: rgba(255, 94, 0, 0);
    border-radius: 45px;
    border:hidden;
    cursor: pointer;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 3%;
    padding-bottom: 3%;

}

button:hover{
    background-color: rgba(255, 94, 0);
    
}

div{
    background-color: rgba(255, 94, 0, 0.486);
    border-radius: 100px;
    border-style: solid;
    border-color: rgba(255, 94, 0, 0.719) ;
    font-weight: bold;
    visibility: visible;
    margin-top: 10px;
    
    
}

div#invisble{
    visibility: hidden;
}

div.PA{
    width: 38%;
    display: inline-block;
    margin-right: 0vw;
    
    text-align: center;
    padding-bottom: 35px;
    padding-top: 35px;
    min-width:40vw;
}

div.PG{
    width: 38%;
    display: inline-block;
    margin-right: 0vw;
    padding-bottom: 35px;
    padding-top: 35px;
    text-align: center;
    min-width:40vw;
}

div p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

div h3{
    font-size: 50px;
    font-family: 'Bitter', serif;
    color: rgb(153, 21, 6);
}