@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body{
    background-color: #dddddd;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black ;
    font-family: 'Robot', sans-serif;

}

button{
    background-color: rgba(255, 94, 0, 0);
    border-radius: 45px;
    border:hidden;
    cursor: pointer;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: rgb(153, 21, 6);
    font-size: 20px;

}

button:hover{
    background-color: rgba(165, 165, 165, 0.479);
    
}

img.img-link:hover{
    cursor: pointer;
}

header.title{
    background-color: rgb(153, 21, 6);
    border: hidden;
    border-radius: 0px;
    margin-top: 0%;
    padding: 10px 10px;
    min-height: 100%;
    color: #ddffff;
}

section{
    margin-top: 300px;

}

section#home-pa{
    border-style: dashed;
    border-top-color: rgb(153, 21, 6);
    border-right-color: #dddddd;
    border-left-color: #dddddd;
    border-bottom-color: #dddddd;

}

section#home-pg{
    border-style: dashed;
    border-top-color: rgb(153, 21, 6);
    border-right-color: #dddddd;
    border-left-color: #dddddd;
    border-bottom-color: #dddddd;

}

section#razao-pa{
    border-style: dashed;
    border-top-color: rgb(153, 21, 6);
    border-right-color: #dddddd;
    border-left-color: #dddddd;
    border-bottom-color: #dddddd;

}

section#razao-pg{
    border-style: dashed;
    border-top-color: rgb(153, 21, 6);
    border-right-color: #dddddd;
    border-left-color: #dddddd;
    border-bottom-color: #dddddd;

}

section#an-pa{
    border-style: dashed;
    border-top-color: rgb(153, 21, 6);
    border-right-color: #dddddd;
    border-left-color: #dddddd;
    border-bottom-color: #dddddd;

}

section#an-pg{
    border-style: dashed;
    border-top-color: rgb(153, 21, 6);
    border-right-color: #dddddd;
    border-left-color: #dddddd;
    border-bottom-color: #dddddd;

}

section#soma-pa{
    border-style: dashed;
    border-top-color: rgb(153, 21, 6);
    border-right-color: #dddddd;
    border-left-color: #dddddd;
    border-bottom-color: #dddddd;

}

section#soma-pg{
    border-style: dashed;
    border-top-color: rgb(153, 21, 6);
    border-right-color: #dddddd;
    border-left-color: #dddddd;
    border-bottom-color: #dddddd;

}

div.div{
    width: 38%;
    display: inline-block;
    margin-right: 0vw;
    padding-bottom: 35px;
    padding-top: 35px;
    text-align: center;
    min-width:40vw;
    margin: 10px;

    background-color: rgba(212, 212, 212, 0.219);
    box-shadow: 5px 5px gray;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(49, 49, 49, 0.719) ;
    border-width: 2px;
    font-weight: bold;
    visibility: visible;
}

div p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

div h3{
    font-size: 35px;
    font-family: 'Bitter', serif;
    color: rgb(153, 21, 6);
}


h2{
    font-size: 50px;
    font-family: 'Bitter', serif;
    color: rgb(153, 21, 6);
}

h4{
    font-size: 25px;
    font-family: 'Bitter', serif;
    color: rgb(153, 21, 6);
}

h5{
    font-size: 25px;
    font-family: 'Bitter', serif;
    color: rgb(153, 21, 6);
}