@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body{
    background-color: #dddddd;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black ;
    font-family: 'Robot', sans-serif;

}

button{
    background-color: rgba(255, 94, 0, 0);
    border-radius: 45px;
    border:hidden;
    cursor: pointer;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: rgb(153, 21, 6);
    font-size: 20px;

}

button:hover{
    background-color: rgba(255, 94, 0);
    
}

header.title{
    background-color: rgb(153, 21, 6);
    border: hidden;
    border-radius: 0px;
    margin-top: 0%;
    padding: 10px 10px;
    min-height: 100%;
    color: #ddffff;
}


div#invisible{
    background-color: #dddddd;
}

div.div{
    width: 38%;
    display: inline-block;
    margin-right: 0vw;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 35px;
    min-width:40vw;
    margin-top: 15px;

    background-color: rgba(255, 94, 0, 0.486);
    box-shadow: gray 5px 5px 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(255, 94, 0, 0.719) ;
    font-weight: bold;
    visibility: visible;
}

div p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

div h3{
    font-size: 50px;
    font-family: 'Bitter', serif;
    color: rgb(153, 21, 6);
}